/* scrollbar */
body::-webkit-scrollbar {
	width: 1em;
	background: rgb(207, 238, 174);
	background: #fff;
}

body::-webkit-scrollbar-thumb {
	width: 0.5em;
	background: #62DAB7;
	border-radius: 5rem;
}

body::-webkit-scrollbar-button {
	width: 2em;
	height: 2em;
	background-color: #fff;
	box-shadow: 1px 1px 3px #7b7b7b;
}

/* nav */

header {
	justify-content: space-around;
}

nav {
	position: absolute;
	top: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.4);
	padding: 1em 1.4em;
	width: 100%;
}

nav.sticky {
	background: #62DAB7;
	position: fixed;
	z-index: 222;
}

nav .gnb {
	display: flex;
	width: 60%;
	max-width: 1600px;
	margin: auto;
}

nav .gnb li {
	flex: 1 1 200px;
}

nav .gnb li a {
	color: #fff;
	display: inline-block;
	padding: 0.2rem;
	text-align: center;
	line-height: 2rem;
	height: 2rem;
	position: relative;
}

/* 호버시 적용되는 효과 */
nav .gnb li a:before,
nav .gnb li a:after {
	position: absolute;
	content: '';
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	transform: scaleX(0);
	transition: all 0.5s;
}

nav .gnb li a:before {
	top: 0;
	transform-origin: left;
}

.gnb li a:after {
	bottom: 0;
	transform-origin: right;
}

nav .gnb li.on a:before,
nav .gnb li a:hover:before,
nav .gnb li.on a:after,
nav .gnb li a:hover:after {
	transform: scaleX(1);
}


/* 애니메이션바 */
.progress-bar {
	position: relative;
	width: 60vw;
	height: 30px;
	margin: 4em auto;
	background-color: #ccc;
	border-radius: 20px;
}

.progress-bar .bar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	border-radius: 20px;
	background: #62DAB7;
}

.progress-bar .rate {
	position: absolute;
	top: 0;
	right: 15px;
	bottom: 0;
	line-height: 30px;
	font-size: 1.2em;
	color: #536963;
}

.label {
	position: absolute;
	top: -40px;
	font-size: 20px;
	font-weight: bold;
}

/* 타입 애니메이션 */
@keyframes changeText {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

#animated-text {
	color: var(--primary1);
	animation: changeText 5s linear infinite;
}



/* 프로젝트 애니메이션 */

.projects {
	position: relative;
	overflow: hidden;
}

/* 하위요소들이 크기를 가지기위해 지정 */
.projects .container {
	position: relative;
	width: 100%;
	height: 100%;
}

.item {
	position: absolute;
	top: 0;
	height: 30vw;
}

.item.left {
	width: 60vw;
	transition: left 1s ease-in-out;
	left: -100%;
}

.item.right {
	width: 40vw;
	right: 0;
	background-color: var(--primary1);
}

.projects.is-animated .left {
	left: 0;
}

/* //왼쪽에서 오른쪽으로 목업이 진입 */

/* pip */

.left .mockup.pc {
	position: relative;
	margin-left: clamp(5%, 100px, 10%);
	width: 60%;
	height: 100%;
}

.left .mockup img,
.left .mockup .mask {
	position: absolute;
	top: 0;
	left: 0;
}

.left .mockup.pc {
	position: relative;
	width: 60%;
	height: 100%;
	margin-left: 100px;
}

.screen,
.device {
	width: 100%;
}

.screen {
	z-index: 3;
}

.device {
	z-index: 4;
}

.section4 .mockup.pc .mask {
	z-index: 8;
	/* 수정 */
	width: 32.3vw;
	height: 61.8%;
	overflow: hidden;
	left: 5.2%;
	top: 6%;
}

/* mobile */
.left .mockup.mobile {
	position: relative;
	width: 20%;
	height: 60%;
	top: -76%;
	left: 60%;
	z-index: 99;
}

.left .mockup.mobile .mask {
	z-index: 999;
	width: 10.5vw;
	height: 100%;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	top: 10.8%;
	left: 7%;
}