/* scrollbar */
body::-webkit-scrollbar {
	width: 1em;
	background: rgb(207, 238, 174);
	background: #fff;
}

body::-webkit-scrollbar-thumb {
	width: 0.5em;
	background: #62dab7;
	border-radius: 5rem;
}

body::-webkit-scrollbar-button {
	width: 2em;
	height: 2em;
	background-color: #fff;
	box-shadow: 1px 1px 3px #7b7b7b;
}

/* nav */

header {
	justify-content: space-around;
}

nav {
	position: absolute;
	top: 0;
	z-index: 2;
	background: rgba(0, 0, 0, 0.4);
	padding: 1em 1.4em;
	width: 100%;
}

nav.sticky {
	background: #62dab7;
	position: fixed;
	z-index: 222;
}

nav .gnb {
	display: flex;
	width: 60%;
	max-width: 1600px;
	margin: auto;
}

nav .gnb li {
	flex: 1 1 200px;
}

nav .gnb li a {
	color: #fff;
	display: inline-block;
	padding: 0.2rem;
	text-align: center;
	line-height: 2rem;
	height: 2.5rem;
	position: relative;
}

/* 호버시 적용되는 효과 */
nav .gnb li a:before,
nav .gnb li a:after {
	position: absolute;
	content: '';
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	transform: scaleX(0);
	transition: all 0.5s;
}

nav .gnb li a:before {
	top: 0;
	transform-origin: left;
}

.gnb li a:after {
	bottom: 0;
	transform-origin: right;
}

nav .gnb li.on a:before,
nav .gnb li a:hover:before,
nav .gnb li.on a:after,
nav .gnb li a:hover:after {
	transform: scaleX(1);
}

/* 자기소개 애니메이션 */

#anislow {
	width: 100px;
}


.ani-df {
	display: flex;
}

/* 텍스트 애니메이션 */

.text-ani1 {
	height: auto;
	color: var(--text2);
	font-family: 'pretendard', cursive;
	text-align: left;
	font-size: 40px;
}

.text-ani2 {
	line-height: 1.5;
	display: inline;
	background-image: linear-gradient(transparent 50%,
			var(--primary1) 50%,
			var(--primary1) 85%,
			transparent 85%,
			transparent 100%);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	animation: animatedBackground 3s cubic-bezier(0.645, 0.045, 0.355, 1) 1s forwards;
	animation-iteration-count: infinite;
}

@keyframes animatedBackground {
	to {
		background-size: 100% 100%;
	}
}

/* 애니메이션바 */

.progress-bar {
	position: relative;
	width: 40vw;
	height: 30px;
	margin: 4em auto;
	background-color: #ccc;
	border-radius: 20px;
}

.animation-box {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.progress-bar .bar {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 0;
	border-radius: 20px;
	background: #62dab7;
}

.progress-bar .rate {
	position: absolute;
	top: 0;
	right: 15px;
	bottom: 0;
	line-height: 30px;
	font-size: 1.2em;
	color: #536963;
}

.label {
	position: absolute;
	top: -40px;
	font-size: 20px;
	font-weight: bold;
}

/* 타입 애니메이션 */


/* 프로젝트 애니메이션 */

.projects {
	position: relative;
	width: 100%;
	height: 100vh;
}

/* 하위요소들이 크기를 가지기위해 지정 */
.projects .container {
	position: relative;
	width: 100%;
	height: 100%;
}

.projects .item {
	margin-top: 10vw;
	position: absolute;
	top: 0;
	height: 30vw;
}

.projects .item.left {
	width: 60vw;
	transition: left 1s ease-in-out;
	left: -100%;
}

.projects .item.right {
	width: 40vw;
	right: 0;
	/* border: 1px solid var(--primary1); */
}

.projects.is-animated .left {
	left: 0;
}

/* //왼쪽에서 오른쪽으로 목업이 진입 */

/* pip */

.left .mockup.pc {
	position: relative;
	margin-left: clamp(5%, 100px, 10%);
	width: 60%;
	height: 100%;
}

.left .mockup img,
.left .mockup .mask {
	position: absolute;
	top: 0;
	left: 0;
}

.left .mockup.pc {
	position: relative;
	width: 60%;
	height: 100%;
	margin-left: 100px;
}

.screen,
.device {
	width: 100%;
}

.screen {
	z-index: 3;
}

.device {
	z-index: 4;
}

.projects .mockup.pc .mask {
	z-index: 8;
	/* 수정 */
	width: 32.3vw;
	height: 61.8%;
	overflow: hidden;
	left: 5.2%;
	top: 6%;
}

/* mobile */
.left .mockup.mobile {
	position: relative;
	width: 20%;
	height: 60%;
	top: -76%;
	left: 60%;
	z-index: 99;
}

.left .mockup.mobile .mask {
	z-index: 999;
	width: 10.5vw;
	height: 100%;
	border-radius: 10px 10px 0 0;
	overflow: hidden;
	top: 10.8%;
	left: 7%;
}

/* 버튼 애니메이션 */

.frame {
	display: flex;
	gap: 10px;
}

button {
	margin: 20px;
}

.custom-btn {
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: px;
	padding: 10px 25px;
	font-size: 16px;
	font-weight: bold;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
		7px 7px 20px 0px rgba(0, 0, 0, .1),
		4px 4px 5px 0px rgba(0, 0, 0, .1);
	outline: none;
}

.btn-project {
	background-color: var(--primary1);
	background: rgb(124, 255, 216);
	background: linear-gradient(333deg, rgba(124, 255, 216, 1) 46%, rgba(191, 255, 179, 1) 100%);
	line-height: 42px;
	padding: 0;
	border: none;
}

a:hover {
	text-decoration: none;
}

.btn-project span {
	color: var(--background);
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.btn-project:before,
.btn-project:after {
	position: absolute;
	content: "";
	right: 0;
	bottom: 0;
	background: var(--primary1);
	transition: all 0.3s ease;
}

.btn-project:before {
	height: 0%;
	width: 2px;

}

.btn-project:after {
	width: 0%;
	height: 2px;
}

.btn-project:hover:before {
	height: 100%;
}

.btn-project:hover:after {
	width: 100%;
}

.btn-project:hover {
	background: transparent;
}

.btn-project span:hover {
	color: var(--primary1);
}

.btn-project span:before,
.btn-project span:after {
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	background: var(--primary1);
	transition: all 0.3s ease;
	border-radius: 20px;
}

.btn-project span:before {
	width: 2px;
	height: 0%;
}

.btn-project span:after {
	height: 2px;
	width: 0%;
}

.btn-project span:hover:before {
	height: 100%;
}

.btn-project span:hover:after {
	width: 100%;
}

/* 탭을 만들어보자 */

.port-container>div:nth-child(1) {
	font-size: 32px;
	text-align: center;
}

.tad-wrapper {
	margin: 5rem auto;
}

.tab-menu {
	width: 900px;
	padding-left: 1em;
}

.tab-menu {
	font-size: 18px;
}

.tab-menu li {
	display: inline-block;
	list-style: none;
	margin-right: 25px;
	background-color: var(--primary1);
	padding: 8px 12px;
	border-radius: 50px;
	margin-bottom: 20px;
}

.tab-menu li a {
	color: var(--background);
	text-decoration: underline;
	font-weight: bold;
	line-height: 27px;
	text-decoration: none;
	display: block;
	padding: 0 20px;
}

/* 클릭하면 색상 바뀌는 장치 */
.tab-menu li a.active {
	color: var(--secondary);
}


.tab-content {
	position: relative;
	min-height: 550px;
	max-width: 1300px;
}


.tab-content>div {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: lightgray;
	padding: 1em;
}

.tab-content>div.active {
	display: block;
}

#tab-1-1>p {
	margin-bottom: 20px;
}