/* 가장 큰 부분 */
.wrap {
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
    /* border: 1px solid blue; */
}

.inner{margin: auto;}

/* 네비게이션 */

.logo {
    width: 69px;
    height: 23px;/* 
    border: 1px solid blue; */
}


nav{
    display: flex;
}

/* 자기 소개 및 사진 들어가는 곳 */
/* 가상선택자로 선 넣는 거 해야함 */

.about {
    min-width: 1280px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    height: auto;
    padding: 100px;
    gap: 10px;
    /* border: 2px solid red; */
}

.introduce-box {
    display: flex;
    align-items: center;
    width: 1080px;
    height: auto;
    gap: 28px;
    position: relative;
    /* border: 1px solid blue; */
}

.introduce {
    display: flex;
    position: relative;
    width: 540px;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    /* border: 1px solid blue; */
}

.introduce div:nth-child(1) {
    font-size: 25px;
    font-weight: bold;
}

.introduce div:nth-child(2) {
    font-size: 40px;
    font-weight: bold;
    line-height: 55px;
}

.introduce div:nth-child(3) {
    font-size: 15px;
}

.about .photo {
    /* position: relative; */
    min-width: 486px;
    height: 600px;
    background: url(../img/Group\ 1.png), 50% / cover no-repeat;
    /* border: 1px solid blue; */
}

/* 스킬 부분 */
.skill-section {
    position: relative;
    top: 40%;
    display: flex;
    margin: auto;
    height: 210px;
    padding: 0px 60px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.skill-sectin-box {
    display: flex;
    margin: auto;
    gap: 50px;
    /* border: 1px solid blue; */
    padding: 20px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

/* 이미지로 소개하는 나의 프로필 */
.skill-introduce {
    display: flex;
    padding: 180px 140px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    /* border: 2px solid red; */
}

.skill-box {
    display: flex;
    align-items: flex-start;
    gap: 125px;
    /* border: 1px solid blue; */
}

.skill-img_1 {
    display: flex;
    width: 250px;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    /* border: 1px solid blue; */
}

.skill-img_1 .img_1 {
    width: 130px;
    height: 130px;
    background: url(../img/icon-01.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    /* border: 1px solid grey; */
}

.skill-img_1 .img_2 {
    width: 130px;
    height: 130px;
    background: url(../img/icon-02.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    /* border: 1px solid grey; */
}

.skill-img_1 .img_3 {
    width: 130px;
    height: 130px;
    background: url(../img/icon-03.png) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    /* border: 1px solid grey; */
}

.skill-img_1 div:nth-child(2) {
    font-size: 32px;
    font-weight: bold;
}

.skill-img_1 div:nth-child(3) {
    font-size: 14px;
    line-height: 25px;
}

/* latest work Section: 작업물 구간 */
.latest-work-section {
    margin: auto;
    height: auto;
    display: flex;
    padding: 20px 100px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
    /* border: 2px solid red; */
}

.latest-work-section>div:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
}

.stripe {
    display: flex;
    align-items: flex-start;
    gap: 67.5px;
}

/* 프로젝트 이미지 및 텍스트 묶음 박스 */
.work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 20px;
    gap: 10px;
    /* border: 1px solid red; */
}

.img2 {
    width: 315px;
    height: 315px;
    background: url(../img/Image4.png), lightgray 50% / cover no-repeat;
    margin-bottom: 20px;
    /* border: 1px solid blue; */
}

.work>div:nth-child(2) {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.btn {
    background-color: lightgrey;
    border-radius: 50px;
    padding: 12px;
    font-size: 14px;
}

/* 경력 */
.career {
    display: flex;
    padding: 100px 100px 150px 100px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    /* border: 1px solid red; */
}

.cr-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    /* border: 1px solid blue; */
}

.cr-text {
    font-size: 30px;
    font-weight: bold;
}

.cr-box {
    display: flex;
    align-items: flex-start;
    gap: 67.5px;
    /* border: 1px solid blue; */
}

.career-box {
    /* display: flex; */
    width: 315px;
    /* padding: 30px 50px 30px 30px; */
    padding: 20px;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid blue;
}


.cr-text_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    /* border: 1px solid blue; */
}

.cr-tilte {
    font-size: 20px;
}

/* .cr-box2{border: 1px solid blue;} */
/* 푸터: 연락처 */
footer {
    max-width: 1080px;
    margin: auto;
    display: flex;
    padding: 0px 100px 70px 100px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1px solid red;
}

.footer-info {
    width: 100%;
    height: 530px;
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    /* border: 1px solid blue; */
}

.footer-info2 {
    display: flex;
    align-items: flex-start;
    gap: 190px;
}

.contact-info {
    width: 360px;
    height: 313px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    border: 1px solid blue;
}

.contact-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    border: 1px solid blue;
}

.text-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

form {
    width: 470px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    /* border: 1px solid lightgrey; */
}

.input-1 input,
.input-2 input {
    width: 470px;
    height: 27px;
    padding: 21px 30px;
    background-color: #ccc
}

.input-3 input {
    width: 470px;
    height: 190px;
    padding: 21px 30px;
    background-color: #ccc
        /* border: 1px solid blue; */
}



.input-1 input,
.input-2 input,
.input-3 input {
    border: none;
}

input::placeholder {
    font-size: 16px;
}

button {
    text-align: center;
    padding: 4px 25px;
    border-radius: 20px;
    line-height: 30px;
    border: none;
    background-color: #ccc;
    /* 150% */
}