/* contact */
.bg8 {
    position: relative;
    width: 100%;
    height: 1000px;
    background-color: var(--background);
}

#contact {
    display: flex;
    flex-direction: column;
}

#contact h2 {
    font-size: 45px;
    text-align: center;
    color: var(--text1);
    font-weight: 900;
    margin: auto;
    margin-top: 150px;
}

#contact span {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}

.ct_box1,
.ct_box2,
.ct_box3 {
    width: 400px;
    height: 430px;
    background-color: #fff;
    border-radius: 20px;
    filter: drop-shadow(0px 3.6px 7.3px rgba(0, 0, 0, 0.25));
    margin: auto;
    margin-top: 100px;
    opacity: .7;
    transition: all 0.7s;
}

.ct_box1 {
    margin-left: 90px;
    transition: all 0.7s;

}

.ct_box1:hover {
    transform: scale(110%);
    opacity: 1;
    filter: drop-shadow(0px 3.6px 7.3px rgba(0, 0, 0, 0.5));
}

.ct_box1:hover::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 5px;
    bottom: 0;
    margin-left: 50px;
}

.ct_box2:hover {
    transform: scale(110%);
    opacity: 1;
    filter: drop-shadow(0px 3.6px 7.3px rgba(0, 0, 0, 0.5));
}

.ct_box2:hover::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 5px;
    bottom: 0;
    margin-left: 50px;
}

.ct_box3:hover {
    transform: scale(110%);
    opacity: 1;
    filter: drop-shadow(0px 3.6px 7.3px rgba(0, 0, 0, 0.5));
}

.ct_box3:hover::before {
    position: absolute;
    content: '';
    width: 300px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 5px;
    bottom: 0;
    margin-left: 50px;
}

.ct_box2 {
    margin-top: -430px;
    transition: all 0.7s;
}

.ct_box3 {
    margin-right: 90px;
    margin-top: -430px;
    transition: all 0.7s;
}

.ct_box1 img {
    margin-top: 90px;
    margin-left: 149px;
    width: 100px;
}

.ct_box2 img {
    margin-top: 90px;
    margin-left: 149px;
    width: 100px;
}

.ct_box3 img {
    margin-top: 90px;
    margin-left: 149px;
    width: 100px;
}

.ct_box1 h3 {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.ct_box2 h3 {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.ct_box3 h3 {
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.ct_box1 p {
    text-align: center;
    margin-top: 20px;
    line-height: 1.2;
}

.ct_box2 p {
    text-align: center;
    margin-top: 20px;
    line-height: 1.2;
}

.ct_box3 p {
    text-align: center;
    margin-top: 20px;
    line-height: 1.2;
}

#contact .ct_btn {
    width: 250px;
    height: 50px;
    line-height: 50px;
    margin: auto;
    margin-top: 70px;
    background-color: var(--secondary);
    border-radius: 50px;
    transition: all 0.7s;
}

#contact .ct_btn p {
    text-align: center;
    font-size: 16px;
}

#contact .ct_btn a {
    color: #fff;
}

#contact .ct_btn:hover {
    background-color: #ffa9a9;
}

#contact .ct_btn:hover a {
    color: var(--secondary);
}